{% extends "base.html" %}
{% block content %}


    <h2>{{ page_title }}</h2>
    <p>
        The Avengers are a team of superheroes appearing in American comic books published by Marvel Comics, created by
        writer-editor Stan Lee and artist/co-plotter Jack Kirby. The team made its debut in The Avengers #1 (cover-dated
        September 1963). Labeled "Earth's Mightiest Heroes", the original Avengers consisted of Iron Man, Ant-Man, Hulk,
        Thor and the Wasp. Captain America was discovered trapped in ice in issue #4, and joined the group after they
        revived him.
    </p>
    <br>
    <p>
        The Avengers are an all-star ensemble cast of established superhero characters from the Marvel Comics portfolio.
        Diegetically, these superheroes usually operate independently but occasionally assemble as a team to tackle
        especially formidable villains. This in contrast to certain other superhero teams such as the X-Men, whose
        characters were created specifically to be part of their team, with the team being central to their identity. The
        Avengers were created to create a new line of books to sell and to cross-promote Marvel Comics characters. An Iron
        Man fan might buy an Avengers book because Iron Man appears in them, and perhaps in turn take an interest in Thor,
        who appears in the same book as Iron Man's friend and comrade.[2] The cast usually features a few highly popular
        characters who have their own solo books, such as Iron Man, alongside a number of lesser-known characters who
        benefit from exposure, such as Quicksilver.[3]
    </p>
    <br.
    <p>
        The Avengers have appeared in a wide variety of media outside of comic books, including several different animated television series and direct-to-video films. Beginning in 2008, they were adapted in a film series from Marvel Studios, known as the Marvel Cinematic Universe, culminating with The Avengers in 2012, with more appearances of the team in subsequent films.
    </p>

    {% for member in company %}
    
    <div class="row featurette">
        {% if loop.index % 2 != 0 %}

            <div class="col-md-7">
                <h3><a href="/about/{{ member.url }}">{{ loop.index }}.{{ member.name }}</a></h3>
                <p>{{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>
        {% else %}

            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>
            <div class="col-md-7">
                <h3><a href="/about/{{ member.url }}">{{ loop.index }}.{{ member.name }}</a></h3>
                <p>{{ member.description }}</p>
            </div>

        {% endif %}
    </div>

        {% if loop.index != loop.lemgth %}
        

            <hr class="featurette-divider">


        {% endif %}

    {% endfor %}

    

    
{% endblock %}